@{
    ViewData["Title"] = "Donate Plasma Save Life";
}
@model SahayogNepal.Models.ViewModels.HomeViewModel
<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">



    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 181, 181);"></div>

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>आफु पनि बचौ अरुलाई पनि बचाऔ&nbsp; &nbsp;</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">
                    Plasma from recovered COVID-19 patients is urgently needed across hospitals in Nepal.<br><br>
                    Register as<br>
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-success display-4" href="/Donor">Donor (दाता)&nbsp;</a> <a class="btn btn-success-outline display-4" href="/Patient">Patient (बिरामी) &gt;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-sblhRf9bu0" id="content4-l">


    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-7">
                    <strong>
                        *Plasma therapy is an experimental COVID therapy. Before you register, please consult your doctor if this is required. Only patients with a case sheet from the doctor on duty will be matched.
                    </strong>
                </h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5"><div></div></h4>

            </div>
        </div>
    </div>
</section>

<section class="pricing1 cid-sblibZ9YWz" id="pricing1-n">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h6 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>Donors</strong>
                        </h6>
                        <ul class="list mbr-fonts-style mb-5 display-7">
                            <li class="item-wrap">Total Donors Registered: @Model.Donors</li>
                            @*<li class="item-wrap">Latest Donor Registered on: </li>*@
                        </ul>
                    </div>

                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h6 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>Patients</strong>
                        </h6>
                        <ul class="list mbr-fonts-style mb-5 display-7">
                            <li class="item-wrap">Total Patient Registered: @Model.Patients</li>
                            @*<li class="item-wrap">Latest Patient Registered on: </li>*@
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients2 cid-sbwyWPXXe9" id="clients2-m">




    <div class="container">
        <h1 class="card-title mb-4 mbr-fonts-style">
            <strong>Supported By:</strong>
        </h1><br />
        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card-wrapper">
                    <div class="img-wrapper text-center">
                        <a href="https://www.facebook.com/theyneedbloodpage/" target="_blank">
                            <img src="~/assets/images/theyneedblood.png" style="border-radius:50%;height:30vH;width:auto">
                        </a>
                    </div>
                    <div class="card-box align-center">

                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>They Need Blood</strong>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card-wrapper">
                    <div class="img-wrapper text-center">
                        <a href="https://www.facebook.com/groups/1220011578350038/" target="_blank">
                            <img src="~/assets/images/plasmabanknepal.png" style="border-radius:50%;height:30vH;width:auto">
                        </a>
                    </div>
                    <div class="card-box align-center">

                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Plasma Bank Nepal</strong>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

