
@{
    ViewData["Title"] = "Plasma Therapy";
}
<style>
    /* SECTION */
    .section {
        background-color: #fff;
        color: inherit;
        position: relative;
        padding: 90px 0;
        overflow: hidden;
    }

    .section-brief {
        font-size: 18px;
    }

    .section-heading {
        position: relative;
        padding-bottom: 20px;
        margin: 0 0 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
</style>
<div class="container pt-lg-4">
    <div class="card col-sm-12">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h1 class="card-title mb-4 mbr-fonts-style">
                    <strong>WHAT IS PLASMA?</strong>
                </h1>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    Plasma is the yellow liquid portion of blood comprised of water, salts, and proteins
                    which contains numerous proteins essential for proper functioning of the body.
                    insufficient levels of any one plasma protein prevents the body from carrying out vital
                    functions, causing a variety of chronic and life-threatening medical conditions.
                </p>
                <h1 class="card-title mb-4 mbr-fonts-style">A THERAPY ‘USED FOR OVER 100 YEARS’</h1>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    This notion was first introduced in the late 19th century when physiologist Emil von
                    Behring and bacteriologist Kitasato Shibasaburou discovered that they could use
                    antibodies present in serum — another blood component — to fight the bacterial
                    infection diptheria.
                </p>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    Since then, doctors have used passive antibody therapy, on and off, at least since
                    the 1930s to treat or prevent both&nbsp;bacterial and viral infections, including forms of
                    pneumonia, meningitis, and measles.
                </p>
                <h1 class="card-title mb-4 mbr-fonts-style">WHAT IS COVID-19 PLASMA AND HOW DOES IT HELP?</h1>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    COVID-19 plasma is plasma collected from patients who have recovered from
                    COVID-19. The blood of people who have recovered from an infection contains
                    antibodies. Antibodies are molecules that have learned to recognize and fight the
                    pathogens, such as viruses, that have caused disease.
                </p>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    Researchers hope that convalescent plasma can be given to people with
                    severe&nbsp;COVID-19&nbsp;to boost their ability to fight the virus. It also might help keep
                    people who are moderately ill from becoming more ill and experiencing&nbsp;COVID-
                    19&nbsp;complications.
                </p>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    Convalescent plasma therapy may be helpful for people with&nbsp;COVID-19&nbsp;who aren't
                    helped by other treatments. Some people with&nbsp;COVID-19&nbsp;become very sick and
                    don't respond to other treatments or drugs. They often require mechanical
                    assistance, such as a ventilator, to breathe. These people also are in danger of
                    developing organ failure.
                </p>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    It could also help other people who may have a higher risk of serious illness, such as
                    people with chronic medical conditions, for example, heart disease or diabetes, or
                    those who have weakened immune systems. Convalescent plasma could help these
                    people from getting sicker if they get&nbsp;COVID-19.
                </p>


                <h1 class="card-title mb-4 mbr-fonts-style">THE PROCEDURE</h1>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    Before donated blood can be used, it must be tested for safety. It then goes through
                    a process to separate out blood cells so that all that's left is plasma with antibodies.
                </p>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    A special machine separates the plasma and often the platelets from the donors’
                    blood sample. This process is called plasmapheresis. The remaining red blood cells
                    and other blood components are then returned to the body
                </p>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">The plasma is then carried to the patient.</p>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    Before convalescent plasma therapy, the health care team prepares the patient for
                    the procedure. The health care team member inserts a sterile single-use needle
                    connected to a tube (intravenous, or IV, line) into a vein in one of the arms.
                    When the plasma arrives, the sterile plasma bag is attached to the tube and the
                    plasma drips out of the bag and into the tube. It takes about one to two hours to
                    complete the procedure.
                </p>
                <h1 class="card-title mb-4 mbr-fonts-style">WHO CAN DONATE COVID-19 PLASMA?</h1>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    In addition to meeting the donor eligibility criteria, donors must have had a prior
                    infection of COVID-19 and must have recovered from symptoms at least 14 days
                    prior to donation. In addition they should:
                </p>
                <ul>
                    <li>Have had symptoms like breathing problem, cough, cold, fever, body ache.</li>

                    <li>The stronger the symptoms, the stronger the antibodies</li>
                    <li>Not have had any children (women only).</li>
                    <li>Not have diabetes.</li>
                    <li>Not have high blood pressure.</li>
                    <li>Not be over the age of 65.</li>

                </ul>
                 <p class="mbr-text mbr-fonts-style mb-5 display-7" >
                    Source: <a href="https://www.dhoondh.com/plasma-therapy">Dhoondh.com</a><br />
                    NOTE: THIS IS INFORMATION COLLATED FROM PUBLICLY AVAILABLE
                    WEBSITES.
                    WE ARE NOT, NOR DO WE CLAIM TO BE, PROPONENTS NOR ANY
                    AUTHORITY ON THIS PROCEDURE.
                    <br>
                    PLEASE CONSULT YOUR DOCTOR FOR
                    COMPLETE DETAILS.
                </p>
            </div>

        </div>
    </div>
</div>

