
@{
    ViewData["Title"] = "SahayogiHaath";
}
<style>
    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
</style>
    <div class="container" style="min-height:70vH">
        <div class="row col-sm-12 col-md-offset-2 custyle">
            <div class="card-box align-left">
                <h1 class="card-title mb-4 mbr-fonts-style">
                    <strong>सहयोगी हातहरुलाई नमन</strong><br />
                </h1>
                <p class="mbr-text mbr-fonts-style mb-5 display-7">
                    SahayogNepal.org is a mission for social cause. Please support us<br />
                    Esewa: 9843178564 <br />
                    Khalti: 9843178564 <br />
                    Track of every Donation and Expense can be found on our github repo.
                </p>
            </div>
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Worth Amount</th>
                    </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td><a href="https://www.babal.host" target="_blank">babal host</a></td>
                    <td>Domain</td>
                    <td>Nrs. 1350</td>
                </tr>

            </table>
            </div>
        </div>
